@import 'mathbox';
@import 'sliders';

body {
  background: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

#caption {
  float: left;
  width: 50%;
}

#nav {
  margin: 1em 0;
}

#mathbox-container {
  float: right;
  width: 50%;
  position: relative;
  max-height: 500px;
}

.mathbox-label.point-label .mathbox-wrap {
  left: 0 !important;
  max-width: 10em;
}
