* {
  box-sizing: border-box; }

body {
  background: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0; }

#search {
  margin-bottom: 2em;
  border-bottom: 1px solid black;
  width: 100%;
  z-index: 1;
  background: rgba(255, 255, 255, 0.9); }
  #search input {
    font-size: 1em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 1em;
    box-shadow: none;
    border: none; }

#names {
  font-size: 1em;
  text-align: center; }
  #names .name {
    width: 11em;
    height: 3em;
    vertical-align: top;
    display: inline-block;
    position: relative;
    text-align: left; }
    #names .name .name-inner {
      overflow: hidden;
      height: 100%;
      padding: 5px;
      background: white;
      border: 1px solid white; }
    #names .name p {
      margin: 0; }
      #names .name p[data-property="name"] {
        display: block; }
      #names .name p[data-property="topline"], #names .name p[data-property="location"], #names .name p[data-property="affiliation"] {
        font-size: .8em;
        color: #888; }
      #names .name p[data-property="location"], #names .name p[data-property="affiliation"] {
        display: none; }
    #names .name:hover .name-inner {
      position: relative;
      height: auto;
      border: 1px solid black;
      z-index: 2; }
    #names .name:hover p {
      display: block !important; }

.searching .name {
  width: 11em;
  height: 5em !important; }
  .searching .name p {
    display: block !important; }
