* {
  box-sizing: border-box; }

body {
  background: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0; }

.inner-content-header {
  background-image: url('../static/augusta.jpg');
  background-size: cover;
  background-position: center;
  padding: 6em 0; }
  @media (max-width: 500px) {
    .inner-content-header {
      padding: 3em 0; } }
  .inner-content-header span.highlighted {
    background-color: white; }
  .inner-content-header .timestamp, .inner-content-header .dek {
    color: white; }
  .inner-content-header .timestamp {
    width: auto;
    max-width: 500px; }
  .inner-content-header .dek {
    margin-bottom: 0; }

.body-text {
  max-width: 800px;
  margin: 0 auto 52px;
  padding: 0 10px 0 10px; }
  .body-text p {
    margin-top: 2.5rem;
    margin-bottom: 0;
    font-size: 1.125rem;
    line-height: 1.618em; }
    .body-text p:first-child {
      margin-top: 0; }

#footer .container {
  text-transform: uppercase; }
  #footer .container .source.correction {
    text-transform: none; }

#search {
  margin-bottom: 1em;
  width: 100%;
  z-index: 1;
  background: rgba(255, 255, 255, 0.9);
  text-align: center; }
  #search input {
    font-size: 1em;
    font-family: "HaasText", Arial, sans-serif;
    padding: 1em;
    border: 1px solid #ddd !important;
    box-shadow: none;
    border: none;
    display: inline-block;
    max-width: 30em; }

#filters {
  text-align: center;
  font-family: "HaasText", Arial, sans-serif;
  margin-bottom: 1em; }
  #filters .filter {
    background: #ccc;
    display: inline-block;
    width: 11em;
    padding: 1em;
    margin: .5em; }
    @media (max-width: 500px) {
      #filters .filter {
        width: 9em; } }
  #filters .filter:hover {
    background: black;
    color: white;
    cursor: pointer; }
  #filters .filter.selected {
    background: black;
    color: white; }

#names {
  text-align: left;
  font-family: "HaasText", Arial, sans-serif; }
  #names .name {
    width: 11em;
    height: 3em;
    vertical-align: top;
    display: inline-block;
    position: relative;
    text-align: left; }
    #names .name .name-inner {
      overflow: hidden;
      height: 100%;
      padding: .5em;
      background: white; }
      #names .name .name-inner p {
        margin: 0; }
        #names .name .name-inner p[data-property="name"] {
          font-family: "HaasDisplayBold", "Helvetica"; }
    #names .name:hover {
      opacity: 1 !important; }
      #names .name:hover .name-inner {
        position: relative;
        height: auto;
        z-index: 2;
        background: black;
        color: white;
        -webkit-box-shadow: 1px 1px 5px 0px rgba(158, 158, 158, 0.75);
        -moz-box-shadow: 1px 1px 5px 0px rgba(158, 158, 158, 0.75);
        box-shadow: 1px 1px 5px 0px rgba(158, 158, 158, 0.75); }
  #names.searching .name {
    width: 11em;
    height: 6.5em; }

#names .name .name-inner p[data-property="name"] {
  display: block; }
#names .name .name-inner p[data-property="topline"] {
  display: block; }
#names .name .name-inner p[data-property="company"] {
  display: none; }
#names .name .name-inner p[data-property="affiliation"] {
  display: none; }
#names .name .name-inner p[data-property="location"] {
  display: none; }

#names[data-filter="Sports"] .name .name-inner p[data-property="name"] {
  display: block; }
#names[data-filter="Sports"] .name .name-inner p[data-property="topline"] {
  display: none; }
#names[data-filter="Sports"] .name .name-inner p[data-property="company"] {
  display: block; }
#names[data-filter="Sports"] .name .name-inner p[data-property="affiliation"] {
  display: none; }
#names[data-filter="Sports"] .name .name-inner p[data-property="location"] {
  display: none; }

#names[data-filter="Finance"] .name .name-inner p[data-property="name"] {
  display: block; }
#names[data-filter="Finance"] .name .name-inner p[data-property="topline"] {
  display: none; }
#names[data-filter="Finance"] .name .name-inner p[data-property="company"] {
  display: block; }
#names[data-filter="Finance"] .name .name-inner p[data-property="affiliation"] {
  display: none; }
#names[data-filter="Finance"] .name .name-inner p[data-property="location"] {
  display: none; }

#names[data-filter] .name:hover .name-inner p[data-property="name"] {
  display: block; }
#names[data-filter] .name:hover .name-inner p[data-property="topline"] {
  display: block; }
#names[data-filter] .name:hover .name-inner p[data-property="company"] {
  display: none; }
#names[data-filter] .name:hover .name-inner p[data-property="affiliation"] {
  display: block; }
#names[data-filter] .name:hover .name-inner p[data-property="location"] {
  display: block; }

#names.searching .name .name-inner p[data-property="name"] {
  display: block; }
#names.searching .name .name-inner p[data-property="topline"] {
  display: block; }
#names.searching .name .name-inner p[data-property="company"] {
  display: none; }
#names.searching .name .name-inner p[data-property="affiliation"] {
  display: block; }
#names.searching .name .name-inner p[data-property="location"] {
  display: block; }
