* {
  box-sizing: border-box;
}

body {
  background: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

#properties {
  padding: 2em;
  margin-bottom: 2em;
  border-bottom: 1px solid black;
  position: fixed;
  width: 100%;
  z-index: 1;
  background: rgba(255,255,255,.9);
  .property {
    display: inline-block;
    text-align: center;
    cursor: pointer;
  }
}

#names {
  font-size: .5em;
  text-align: center;
  padding-top: 100px;

  .name {
    width: 12em;
    height: 2.5em;
    vertical-align: top;
    display: inline-block;
    position: relative;

    .name-inner {
      overflow: hidden;
      height: 100%;
    }

    p {
      margin: 0;
      display: none;
      top: 1.3333333333em;
      text-align: center;

      &[data-property="Name"] {
        display: block;
        font-weight: bold;
      }

      &.selected {
        display: block;
      }
    }

    &:hover {

      .name-inner {
        position: relative;
        height: auto;
        transform: scale(1.5);
        background: white;
        border: 1px solid black;
        z-index: 2;
        padding: 10px;
        pointer-events: none;
      }

      p {
        display: block;
      }
    }
  }
}
