$font: 'Helvetica Neue', Helvetica, Arial, sans-serif;

* {
  box-sizing: border-box;
}

body {
  background: white;
  font-family: $font;
  color: #333;
  margin: 0;
  padding: 0;
}

#search {
  margin-bottom: 2em;
  border-bottom: 1px solid black;
  width: 100%;
  z-index: 1;
  background: rgba(255,255,255,.9);

  input {
    font-size: 1em;
    font-family: $font;
    padding: 1em;
    box-shadow: none;
    border: none;
  }
}

#names {
  font-size: 1em;
  text-align: center;

  .name {
    width: 11em;
    height: 3em;
    vertical-align: top;
    display: inline-block;
    position: relative;
    text-align: left;

    .name-inner {
      overflow: hidden;
      height: 100%;
      padding: 5px;
      background: white;
      border: 1px solid white;
    }

    p {
      margin: 0;

      &[data-property="name"] {
        display: block;
      }

      &[data-property="topline"], &[data-property="location"], &[data-property="affiliation"] {
        font-size: .8em;
        color: #888;
      }

      &[data-property="location"], &[data-property="affiliation"] {
        display: none;
      }
    }

    &:hover {

      .name-inner {
        position: relative;
        height: auto;
        border: 1px solid black;
        z-index: 2;
      }

      p {
        display: block !important;
      }
    }
  }
}

.searching {
  .name {
    width: 11em;
    height: 5em !important;
    p {
      display: block !important;
    }
  }
}
